button{
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    color: white;
    text-shadow: 2px 1px  rgba(0, 0, 0, 0.151);
}
button:hover{
    cursor: pointer;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.274);
    width: 350px;
    height: 50px;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 10px;
}
.todo-body{
    max-width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    padding: 25px;
    margin-top: 10px;
}
h1{
    width: fit-content;
    margin: 0 auto;
}

.task-div{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.192);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.task-div__text{
    max-width: 60%;
}

.isCompleted{
    background-color: rgb(194, 193, 193);
}
.isCompleted p{
    text-decoration: line-through;
}
.btn_done{
    background-color: #68d171;
    margin-left: auto;
    margin-right: 5px;
}
.btn_delete{
    background-color: #e25a5a;
}
.btn_add{
    background-color: rgb(196, 82, 196);
    font-weight: 600;
    margin: 0 auto;
    display: block;
    width: 150px;
    margin-top: 25px;
}

.btn_add:hover{
    background-color: rgb(150, 63, 150);
}
.btn_done:hover{
    background-color: #4d9e5f;

}
.btn_delete:hover{
    background-color: #af4d4d;

}